@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  padding: 0px;
  margin: 0px;
}

header {
  height: 70px;
  color: #8cbbae;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 3px 10px -4px #777;
  padding: 20px;
  margin-left: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .fa-utensils {
  height: 20px;
  color: #fff4ce;
}

header img {
  height: 110px;
  width: 300px;
  margin-top: -20px;
  margin-right: -20px;
}

hr {
  border: 1px solid #8cbbae;
}

.spacer {
  height: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.recipe {
  padding: 20px;
}

.recipe .checkbox {
  position: absolute;
  top: 0px;
  right: 0px;
  display: none;
}

.recipe input[type="checkbox"]:checked + div {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.recipe .inforuta {
  margin-top: 10px;
  margin-left: 50px;
  position: absolute;
  height: 150px;
  width: 150px;
  padding: 20px;
  z-index: 2;
  overflow: auto;
  border-radius: 12px;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  background: #8cbbae;
  color: white;
  border: 1px solid #024130;
}

.recipe .inforuta ul {
  list-style: none;
}

.recipe .inforuta ul li {
  margin-bottom: 15px;
}

.recipe label {
  position: relative;
  top: 17px;
  right: -40px;
}

.recipe label:hover {
  cursor: pointer;
}

.recipe label .fa-utensils:before {
  color: #8cbbae;
  background: #fff4ce;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 2px 12px #fff4ce;
  box-shadow: 0 0 2px 12px #fff4ce;
}

.recipe .title {
  padding: 10px;
  margin-bottom: 10px;
  background: #fff4ce;
  border-radius: 5px;
}

.recipe .title p {
  margin-top: 5px;
}

.recipe .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.recipe .flex .text-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recipe .flex .text-flex ul li {
  list-style: none;
  margin-top: 10px;
}

.recipe .flex .text-flex ol li {
  margin-top: 10px;
  counter-increment: item;
  margin-bottom: 5px;
  padding: 0 0 10px 15px;
}

.recipe .flex .text-flex ol li:before {
  margin-right: -20px;
  content: counter(item);
  background: #fff4ce;
  border-radius: 100%;
  color: #024130;
  width: 1.3em;
  text-align: center;
  display: inline-block;
  position: relative;
  left: -30px;
}

.recipe .flex .text-flex ol {
  list-style: none;
  counter-reset: item;
}

.recipe .flex .text-flex article {
  padding: 0 10px 10px 10px;
  width: 60%;
}

.recipe .flex .text-flex article.ingredients {
  width: 50%;
  height: 100%;
}

.recipe .flex img {
  width: 40vw;
  border-radius: 7px;
  margin-left: 10px;
}

.fun-fact {
  height: 80px;
  margin-bottom: 40px;
  margin-top: 30px;
  background: #8cbbae;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fun-fact:last-child {
  height: 80px;
  padding-top: 20px;
  margin-bottom: 50px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.fun-fact a {
  text-decoration: none;
  color: #024130;
  margin-right: 20px;
}

.fun-fact a:hover {
  color: #fff4ce;
}

footer {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0px;
  width: 100%;
  height: 7vh;
  background: #024130;
}

footer a {
  font-family: 'Shippori Antique B1', sans-serif;
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

footer a:hover {
  color: #fff4ce;
}
/*# sourceMappingURL=style.css.map */