@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin shadow {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 3px 10px -4px #777;
}

$theme-color1: #024130;
$theme-color2: #8cbbae;
$theme-color3: #fff4ce;

* {
  font-family: "Montserrat", sans-serif;
  padding: 0px;
  margin: 0px;
}
// body{
//   background: $theme-color3;
// }
header {
  height: 70px;
  color: $theme-color2;
  @include shadow;
  padding: 20px;
  margin-left: -5px;
  @include flex-space-between;
  .fa-utensils {
    height: 20px;
    color: $theme-color3;
  }
  img {
    height: 110px;
    width: 300px;
    margin-top: -20px;
    margin-right: -20px;
  }
}
hr{
  border: 1px solid $theme-color2;
}
.spacer {
  height: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}
.recipe {
  padding: 20px;
  .checkbox{
    position: absolute;
    top: 0px;
    right: 0px;
    display: none;
  }
   input[type="checkbox"]:checked + div{
    transform: scale(1);
  }
  .inforuta{
    margin-top: 10px;
    margin-left: 50px;
    position: absolute;
    height: 150px;
    width: 150px;
    padding: 20px;
    z-index: 2;
    overflow: auto;
    border-radius: 12px;
    transform: scale(0,0);
    transition: 1s ease-in;
    transform-origin: top left;
    background: $theme-color2;
    color: white;
    border: 1px solid $theme-color1;
    ul{
      list-style: none;
      li{
        margin-bottom: 15px;
      }
    }
  }
  label{
    position: relative;
    top: 17px;
    right: -40px;
    &:hover{
      cursor: pointer;
    }
    .fa-utensils:before{
      color: $theme-color2;
      background: $theme-color3;
      border-radius: 100%;
    -webkit-box-shadow: 0 0 2px 12px #fff4ce;
    -moz-box-shadow: 0 0 2px 12px #fff4ce;
    box-shadow: 0 0 2px 12px #fff4ce;}
  }
  .title {
    padding: 10px;
    margin-bottom: 10px;
    background: $theme-color3;
    border-radius: 5px;
    p {
      margin-top: 5px;
    }
  }
  .flex {
    @include flex-space-between;

    .text-flex {
      display: flex;
      align-items: flex-start;
      justify-content: center;

      ul {
    //     background: $theme-color3;
    // border-radius: 5px;
        li {
        list-style: none;
        margin-top: 10px;
      }
    }
      ol li {
        margin-top: 10px;
        counter-increment: item;
        margin-bottom: 5px;
        padding:0 0 10px 15px;
        &:before {
          margin-right: -20px;
          content: counter(item);
          background: $theme-color3;
          border-radius: 100%;
          color: $theme-color1;
          width: 1.3em;
          text-align: center;
          display: inline-block;
          position: relative;
          left: -30px;
        }
      }
      ol {
        list-style: none;
        counter-reset: item;
      }
      article {
        padding: 0 10px 10px 10px;
        width: 60%;
      }
      article.ingredients {
        width: 50%;
        height: 100%;
      }
    }
    img {
      width: 40vw;
      border-radius: 7px;
      margin-left: 10px;
    }
  }
}
.fun-fact {
  height: 80px;
  margin-bottom: 40px;
  margin-top: 30px;
  background: $theme-color2;
  @include flex-center;
  &:last-child{
    height: 80px;
    padding-top: 20px;
    align-items: flex-start;
  }
  a {
    text-decoration: none;
    color: $theme-color1;
    margin-right: 20px;
    &:hover {
      color: $theme-color3;
    }
  }
}
footer {
  position: fixed;
  @include flex-center;
  bottom: 0px;
  width: 100%;
  height: 7vh;
  background: $theme-color1;
  a {
    @import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');
    font-family: 'Shippori Antique B1', sans-serif;
    color: white;
    text-decoration: none;
    margin-right: 20px;
    &:hover {
      color: $theme-color3;
    }
  }
}
